
<div class="container">
  <h2>Chart Credits</h2>
      <div style="display: block">
          <canvas  *ngIf="dataSource" baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
                </canvas>
        </div>
      </div>
  