<div class="container">

  <h2>Formulaire d'operation</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">


    <mat-form-field class="example-full-width" >
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date" >
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Description" for="name" value="" formControlName="name">
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <input type='number' matInput placeholder="Price" name="price" formControlName="price">
    </mat-form-field>


    <div>
      <mat-radio-group  formControlName="type">
        <label for="type">Type de transaction : </label>
        <mat-radio-button value="0">Crédit</mat-radio-button>
        <mat-radio-button value="1">Débit</mat-radio-button>
      </mat-radio-group>
    </div>

   
    



    <mat-form-field>
      <mat-select placeholder="Category" name="operation" formControlName="category">
        <mat-option *ngFor="let item of categories" [value]="item">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <div>
      <button mat-raised-button color="primary" type="submit">
          <mat-icon aria-label="Example icon-button with a heart icon">done</mat-icon>
        </button>
    </div>

  </form>

  <mat-form-field class="example-full-width" id='addcategory'>
    <div>
      <input matInput placeholder="Add a new category" type="text" name="category" [(ngModel)]="category.name">
    </div>


  </mat-form-field>
  <button mat-mini-fab color="primary" (click)="addCategory()">+</button>


</div>