
<h1>Liste des Crédits</h1>


<app-tab-credit></app-tab-credit>

<!--
<section>
  <article *ngFor="let operation of operations | async">
    <div *ngIf="!operation.type">
    <p>{{ operation.name  }}</p>
    <p>{{operation.id }}</p>
    <p>{{operation.category }}</p>
    <p>{{operation.type }} = "Débit"</p>
    <p>{{operation.date }}</p>
  </div>
  </article>
</section>
-->
